#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}


ion-icon {
  &.big {
  width: 32px;
  height: 32px;
  }
}

ion-title.md.title-large {
  padding-left: 10px;
  padding-right: 5px;
  font-family: Roboto Condensed;
  font-size: 26px;
  text-align: center;
  }

  hr.new1 {
    border-top: 5px solid #21505C;
    padding: 0px;
    margin: 0;
  }
