

ion-content ion-toolbar {
  --background: translucent;
}


ion-icon {
  &.big {
  width: 32px;
  height: 32px;
  }
}

ion-title.md.title-large {
  padding-left: 10px;
  padding-right: 5px;
  font-family: Roboto Condensed;
  font-size: 26px;
  text-align: center;
  }

  hr.line {
    border-top: 5px solid #21505C;
    padding: 0px;
    margin: 0;
  }

ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}



.format {
  margin-top: 60px;
  font-size: 22px;
  color: #21505c;
  font-weight: 600;
  line-height: 1.4;
}


.top {
  margin-top: 10px;

}
