
<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col>

<ion-header [translucent]="true">
  <hr class="line">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button icon-only>
        <ion-icon class="big" src="https://res.cloudinary.com/iicamp/image/upload/v1582385127/logo-al.svg"></ion-icon>
        </ion-button>
  </ion-buttons>

    <ion-title size="large">
      Accelerated Learning
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
   </ion-toolbar>
</ion-header>





<div class="format">
  Business Flashcards
</div>



</ion-col>
</ion-row>
</ion-grid>

</ion-content>
